* {
	box-sizing: border-box;
}

body {
	margin: 0;
	padding: 0;
	background: #181821;
}

#app {
	width: 100%;
	height: 100svh;
	overflow: hidden;
}

.save-list {
	background: #00000060;
	font-family: VT323, sans-serif;
	display: flex;
	flex-wrap: wrap;
	align-content: flex-start;
	overflow-y: auto;
}

input {
	font-family: VT323, sans-serif;
}

.save-element {
	display: flex;
	flex-wrap: wrap;
	color: white;
	flex: 0 0 100%;
	height: min-content;
	padding: 0.5em;
}

.save-element:hover {
	background: #00000060;
}

.save-element.selected {
	background: #00000030;
}

.row {
	flex: 1 1 100%;
}

.justify {
	display: flex;
	justify-content: space-between;
}

.save-name {
	font-size: 1.5em;
}

.save-id {
	color: gray;
}
